<div class="hero-wrap ftco-degree-bg" style="background-image: url('@Url.Content("/carbookTemplate/images/bg_1.jpg")');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Araba Kiralamanın Hızlı ve Kolay Yolu</h1>
                    <p style="font-size: 18px;">KolayKirala ile araç kiralama deneyiminizi yeniden tanımlayın! Geniş araç seçenekleri ve hızlı rezervasyon ile her yolculuğunuzu özel kılın.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="about" class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image:url('@Url.Content("/carbookTemplate/images/about.jpg")');">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">Hakkımızda</span>
                    <h2 class="mb-4">Biz Kimiz?</h2>

                    <p>KolayKirala, seyahat deneyiminizi daha da keyifli hale getirmeyi hedefleyen bir araç kiralama platformudur. Misyonumuz, müşterilerimize geniş araç seçenekleri sunmak ve en iyi hizmeti sağlamak için sürekli olarak çalışmaktır.</p>
                    <p>KolayKirala olarak, müşterilerimize her türlü seyahat ihtiyacına uygun araçlar sunuyoruz. Düşük maliyetli ve lüks araçlarımızla her bütçeye hitap ediyoruz. Ayrıca, hızlı ve kolay rezervasyon sürecimizle müşterilerimizin zamanını en iyi şekilde değerlendirmesine yardımcı oluyoruz.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="service" class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <span class="subheading">Servislerimiz</span>
                <h2 class="mb-3">En Son Hizmetlerimiz</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="flaticon-wedding-car"></span>
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Özel Günler İçin Araç Kiralama</h3>
                        <p>Düğünleriniz, nişanlarınız ve diğer özel etkinlikleriniz için lüks ve güvenilir araçlarımızla yanınızdayız. Güvenli ve konforlu bir ulaşım için bizimle iletişime geçin!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="flaticon-transportation"></span>
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Şehirler Arası Yolculuk</h3>
                        <p>Uzun mesafeli seyahatleriniz için en iyi yol arkadaşı biziz. Şehirler arası yolculuklarda konfor ve güvenliği bir arada sunuyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="flaticon-car"></span>
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Havalimanı Transferi</h3>
                        <p>Yolculuğunuzun en rahat kısmını yaşayın. Özel havalimanı transfer hizmetimizle, size konforlu ve güvenli bir yolculuk sunuyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="services services-2 w-100 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="flaticon-transportation"></span>
                    </div>
                    <div class="text w-100">
                        <h3 class="heading mb-2">Şehir Turu</h3>
                        <p>Profesyonel rehberler eşliğinde unutulmaz bir şehir turuna hazır olun. Tarihi ve kültürel miraslarıyla dolu şehrinizi bizimle keşfedin ve anılarınıza yeni renkler katın.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>